<!DOCTYPE html>
<html>
<body>

    <h1>
        Check your results! </h1>
        <h2> 
            Hi, my name is Melissa Vidiera. I am data scientist. This page is used to check the result
        </h2>

        <h3>HTML Forms</h3>

        <form action="/submit" method="post"> 
            <label for = "Science"> Science: </label><br>
            <input type = "text" id="science" name="science" value="please enter your marks"><br>

            <label for = "ML"> ML: </label><br>
            <input type = "text" id="ML" name="ML" value="please enter your marks"><br>

            <label for = "AI"> AI: </label><br>
            <input type = "text" id="AI" name="AI" value="please enter your marks"><br>

            <label for = "NLP"> NLP: </label><br>
            <input type = "text" id="NLP" name="NLP" value="please enter your marks"><br>

            <input type="submit" value="Submit">
        </form>
        
        <p>To send the form data, please click on submit button.</p>
        <p> Form data will be sent to a page called submit</p>
    
</body>
</html> 